*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'algerian';
    src: url('./Algerian.ttf');
}

h1{
    font-family: algerian;
    margin-left: -15px;
}

.AllButFooter {
    min-height: calc(100vh - 85px);
}

body{
    background:linear-gradient(120deg, #176EE6  , #17E67C);
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: black;
}

button:hover {
    cursor: pointer;
}

#asideMain {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
}

/** */
/************ NavBar ************/
/** */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*** Logo Artemis ***/
#logo {
    margin-top: 15px;
    margin-left: 40px;
    width: 100px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
}

#containLogo {
    width: 100%;
    height: 100%;
}

#logoArtemis {
    width: 100%;
    height: 100%;
}

/*** Search Bar ***/
#search {
    margin-top: 45px;
}

#searchForm {
    display: flex;
    flex-direction: row;
}

#searchBar {
    font-size: 18px;
    border: white 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 2%;
    width: 350px;
}

#validSearch {
    background-color: #989898;
    padding: 0px 15px;
    border: white 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#containSearch {
    width: 25px;
}

#iconSearch {
    margin-top: 2px;
    width: 25px;
}

#filter {
    margin-left: 25px;
    padding: 0px 15px;
    border-radius: 5px;
    border: #989898 10px;
    background-color: #989898 ;
}

#containFilter {
    width: 25px;
}

#iconFilter {
    margin-top: 2px;
    transform: rotate(90deg);
    width: 25px;
}

/*** User Icon ***/
#avatar {
    margin-top: 41px;
    margin-right: 40px;
    width: 50px;
    height: 50px;
    min-width: 5px;
    min-height: 5px;
}

#containAvatar {
    min-width: 5px;
    min-height: 5px;
}

#userAvatar {
    max-width: 100%;
    max-height: 100%;
    min-width: 5px;
    min-height: 5px;
}

/** */
/************ Menu ************/
/** */
aside {
    margin-left: 46px;
    text-align: center;
    position: fixed;
}

aside p{
    margin-left: 12px;
}

h1:hover {
    cursor: default;
}

.arrete img {
    margin: 20px 0px 0px 20px;
    width: 50px;
}

/*** Accueil Icon ***/
#containAccueil {
    margin-top: 10px;
    margin-left: 30px;
    width: 30px;
}

/*** Tendance Icon ***/
#containTendance {
    margin-top: 15px;
    margin-left: 30px;
    width: 30px;
}

#iconTendance {
    width: 30px;
}

/*** Post Icon ***/
#containPost {
    margin-top: 15px;
    margin-left: 30px;
    width: 30px;
}

#iconPost {
    width: 30px;
}
/** */
/************ Main ************/
/** */
main {
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 65%;
}

section {
    margin: 10px 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border: solid rgb(54, 54, 54) 1px;
    border-radius: 10px;
    padding: 10px;
}

article {
    background-color: #989898;
    border: solid rgb(54, 54, 54) 1px;
    border-radius: 10px;
    max-width: fit-content;
    padding: 30px 60px;
}

.title {
    margin-top: 5px;
    font-size: 24px;
    margin-left: 5px;
}

.name {
    font-size: 20px;
    margin-left: 5px;
}

.vueDate {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    font-size: 18px;
}

.separation {
    margin: 0px 5px;
}

/** */
/************ Footer ************/
/** */
footer {
    margin-top: 15px;
    text-align: center;
}

footer>p {
    margin-bottom: 5px;
}

#artemisFooter {
    font-size: 20px;
}



@media (min-width: 580px) and (max-width:750px){
    #logo{
        display: none;  
    }

    #searchForm{
        max-width: 50%;
        margin-left: 10%;
    }
    aside {
        margin-left: 10px;
        text-align: center;
    }
}

@media (min-width: 300px) and (max-width:580px){
    #logo{
        display: none;  
    }
    aside {
        margin-left: 10px;
        text-align: center;
    }
    
    header{
        display: flex;
        flex-direction: column;
    }

    #searchForm{
        max-width: 50%;
        margin-left: 10%;
    }
    #filter {
        display: none;
    }

}
@media (max-width: 375px){
    #logo{
        display: none;  
    }
    aside {
        margin-left: 10px;
        text-align: center;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    aside{
        display: flex;
        flex-wrap: wrap;
    }
    #searchForm{
        max-width: 50%;
        min-width: 150px;
    }
    Main{
        margin-top: 155px;
    }
    #filter {
        display: none;
    }
}