*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family: 'algerian';
    src: url('./Algerian.ttf');
}

h1{
    font-family: algerian, sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 200% ;
}

body{
    background:linear-gradient(135deg, #176EE6  , #17E67C);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh);
}

#all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#card{
    padding: 20px;
    box-sizing: border-box;
    height: 80vh;
    width: 60vh;
    margin: 0px;
    margin-top: 5vh;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

#card a{
    margin-top: 30px;
}

.formulaire{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    border: solid 3px #17E67C;
    margin-right: 3vh;
    height: fit-content;

    color: grey;
    margin-top: 1.5em;
    line-height: 40px;
    
}

input{
    text-align: center;
}

#Ins{
    border: none;
    cursor: pointer;
    margin-top: 20px;

}

#Ins:hover{
    background: linear-gradient(135deg, #176EE6  , #17E67C);
    color: white; 
}

#over{
    border: none;
    width: 80%;
    align-self: center;
}

#over:hover{
    background: linear-gradient(135deg, #176EE6  , #17E67C); 
    color: white; 

}



#connexion{
    justify-content: center;
    border: solid 1px turquoise;
}

form{
    display: flex;
    flex-direction: column;
}

#logo{
    height: 200px;
    width: 200px;
}


#margLogo{
    margin: 0 150px;
}

::placeholder{
    text-align: center;
}

/*@media (min-width: 580px) and (max-width:1025px){
    #card{
        background: none;
        margin: 0px;        
    }
     #all{
        display: flex;
        flex-wrap: wrap;
    } 
} */
@media (min-width: 580px) and (max-width:836px){
    #card{
        background: none;
        margin: 0px;        
    }
    #all{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 300px) and (max-width:580px){
    #card{
        background: none;
        height: 125vh;
        width: 45vh;
    }
    #all{
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 375px){
    #card{
        background: none;
        height: 125vh;
        width: 30vh;
    }
    #all{
        display: flex;
        flex-wrap: wrap;
    }
}